#wrapper {
	height: 450px;
	width: 450px;
	background-color: #999999;
}

.row{
	width: 100%;
	height: 150px;
	border: 3px solid black;
}

.column{
	width: 32%;
	height: 145.5px;
	border: 3px solid white;
	float: left;
	text-align: center;
	font-size: 150px;
	color: white;
	text-align: center;
}